:root {
	--header-color: rgb(98, 131, 163);
}

.App {
	margin: 5rem 20vw;
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	background-color: var(--header-color);
}

section {
	position: relative;
}

h2 {
  display: inline-block;
	font-size: 1.75rem;
}

h3 {
	font-size: 1.25rem;
}