:root {
	--header-color: rgb(98, 131, 163);
}

.App {
	margin: 5rem 20vw;
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	background-color: var(--header-color);
}

#header-edit {
	display: none;
}

/* Name and Current Job Title */

.header-name {
	font-size: 3rem;
}

.header-title {
	font-size: 1.25rem;
}

/* Contact Info */
.header-side {
	text-align: left;
}

.contact-item {
	display: grid;
	grid-template-columns: 3rem auto;
	padding: 0.1rem;
}

.contact-icon {
	text-align: center;
}

.contact-text {
	font-size: 1.25rem;
}

.header-input-main, .header-input-side {
	display: flex;
	flex-direction: column;
}

.header-btn {
	position: absolute;
	right: 0.25rem;
	bottom: 0.25rem;
}

#header-form {
	justify-content: space-between;
	align-items: center;
}

section > *:not(hr) {
	padding: 0 2rem;
	padding-top: 0.3rem;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
	display: flex;
	justify-content: space-between;
}

.heading-right {
	text-align: right;
}

.sub-title {
	font-style: italic;
}

.desc-item {
	list-style-type: disc;
	margin-left: 1rem;
}

.sub-list {
	list-style-type: circle;
	margin-left: 1.75rem;
}

/* .new-exp-block {
	display: none;
} */

input {
	border: 0;
	outline: 0;
	border-bottom: 2px solid grey;
	background-color: var(--header-color);
}

h2 {
  display: inline-block;
	font-size: 1.75rem;
}

h3 {
	font-size: 1.25rem;
}

.exp-form {
	display: none;
}

.personals-subsection {
	margin-bottom: 0.25rem;
}

.personals-label {
	font-weight: bold;
}

.personals-content {
	display: inline;
	padding: 0.5rem 0;
}

.personals-form {
	display: none;
}

.personals-btn {
	display: none;
}

.exp-edit-btn {
	display: none;
}

.exp-content {
	position: relative;
}

.exp-content:hover .exp-edit-btn {
	position: absolute;
	display: block;
	z-index: 1;
	left: 95%;
	bottom: 0;
}

.exp-add-btn {
	display: none;
}

section:hover .exp-add-btn {
	display: block;
}